
.author-content h1:first-of-type
{
  margin: 0;
}

.author-bio {
  max-height: 450px;
  .author-description-container
  {
    padding-top: 10px;
  }

  .author-name
  {
    font-size: 2.5em;
    @media #{$medium-and-down} {
      padding-top: 10px;
      font-size: 1.5em;
    }
  }

  .image-author
  {
    @media #{$medium-and-down} {
      max-width: 40%;
    }
  }
}

