.event-notification {
  width: auto;
  .row {
    margin: 0;
  }
  .card {
    padding: 15px 15px;
    .card-image {
      @extend .valign-wrapper;
      i {
        padding-right: 10px;
      }
    }
    .card-content {
      @extend .valign-wrapper;
      @extend .flow-text;
      span {
        @media #{$medium-and-up} {
          width: auto;
          padding-right: 5px;
          padding-left: 0;
        }
        @media #{$small-and-down} {
          padding: 0;
        }
      }
    }
  }
  h2 {
    @media #{$medium-and-down} {
      font-size: 2.5em;
    }
  }
  .event-link {
    text-decoration: none;
  }
  i, time {
    @extend .center-align;
    width: 1.25em;
    color: $blue;
  }
  .event-name {
    margin: 0;
    font-size: 2em;
    padding-bottom: 20px;

    @media #{$medium-and-down} {
      font-size: 1.3em;
    }
  }
  .event-headline
  {
    color: $blue;
  }
}