body {
  font-family: $OpenSans;
  font-size: 17px;
  color: #222;
}

.container {
  max-width: 1024px;
  width: 80%;
}


.section {
  padding-top: 4em;

  &.first-section {
    margin-top: -$menu-height;
    padding-bottom: 0;
  }

  @media #{$medium-and-down} {
    padding-top: 1em;
  }
  h2 {
    margin-top: 0;
  }

  a {
    text-decoration: underline;

    //padding-top: 1em

  }
}

// &.first-section
//   margin-top: -64px
//   padding-bottom: 0.5em

footer {
  padding: 45px 0;
  color: $gray;
  font-size: 0.95em;

  img {
    margin-right: 5px;
  }

  p {
    display: inline-block;
  }

  a {
    text-decoration: underline;
  }

  .right {
    float: right;
  }
}

.img-container {
  padding: 30px 15px;
  text-align: center;
}

* img {
  max-width: 100%;
}

.image-author
{
  @media #{$medium-and-down} {
    max-width: 50%;
  }
}
.list-horizontal
{
  text-align: center;
  margin: 10px;
  li{
    display: inline;
  }
  li + li:before{
    content: "|";
    color: $blue;
  }
}
.author {
  .author-content h1:first-of-type
  {
    margin: 0;
  }
  .author-bio {
    max-height: 450px;
    overflow: hidden;
  }
}