.m-schedule-topic {
  padding-bottom: 40px;
  border-bottom: 1px solid #E5E5E5;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  h3 {
    color: $blue;
    font-size: 32px;
    font-weight: 600 !important;
    line-height: 43px;
  }

  .date {
    margin-top: 11px;
    color: $almostBlack;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
  }

  .schedule-info {
    margin: 30px 0;

    p {
      margin: 0;
    }
  }

  .flex {
    @media #{$medium-and-up} {
      display: flex;
      align-items: center;
    }

    img {
      margin-bottom: 30px;
      border-radius: 50%;

      @media #{$medium-and-up} {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    .name {
      color: $red;
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
    }

    .position {
      color: $gray;
      font-size: 18px;
      line-height: 28px;
    }

    p {
      margin: 10px 0;
      color: $almostBlack;
      font-size: 16px;
      line-height: 26px;
    }

    .links {
      a {
        margin-left: 20px;
        font-size: 18px;
        line-height: 28px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
