// Colors
// ==========================================================================
$blue: #0C7CD5;
$lightBlue: #B9D9F3;
$almostBlack: #0C2131;
$gray: #727C84;
$red: #f33a21;
$font-color: #222;
$meetup-red: #f64060;

// Sizes
// ==========================================================================
$menu-height: 62px;

// Paths
// ==========================================================================
$background-image: '/assets/images/XMDGWeb-headImage.png';
$monkeyfest-visual: '/assets/images/monkeyfest-vizual.png';

// Fonts
// ==========================================================================
$OpenSans: 'Open Sans', sans-serif;
