---
layout: default
---

<div class="section first-section bg-img-primary">
    <div class="article-title container">
        <h1 class="page-header-text">Xamarin Developers Group Czech</h1>
        <p class="page-header-text">Česká komunita kolem Xamarinu a mobilních technologií</p>
    </div>
</div>

<div class="container section" id="about-us">
    <div class="row">
        <div class="col s7">
            <h2>Kdo jsme</h2>
            <p>
                Jsme vývojáři, geekové, učitelé, studenti, frikulíni, šílenci, nerdi a milovníci open source,
                které spojuje nadšení do mobilních technologií týkajících
                se <strong>Xamarinu</strong>, <strong>C#</strong> a <strong>.NET Core</strong>.
            </p>

            <p>
                Společně se vzděláváme, pořádáme přednášky a akce, poznáváme nové technologie, školíme,
                chodíme na pivo a bavíme se.
            </p>

            <div class="highlights-list">
                <div>
                    <p>
              <span class="img-wrapper">
              <img src="/assets/images/icons/developer.svg" alt="code ico"/>
              </span>
                        <strong>Přes 200 </strong> <span>členů</span>
                    </p>
                </div>
                <div>
                    <p>
        <span class="img-wrapper">

        <img src="/assets/images/icons/partner.svg" alt="developer ico"/>
        </span>
                        <strong>Celkem 10 </strong> <span> zapojených firem</span>
                    </p>
                </div>
                <div>
                    <p>

                            <span class="img-wrapper">

                            <img src="/assets/images/icons/school.svg" alt="developer ico"/>
                            </span>
                        <strong>Dokonce 1 </strong> <span> spřátelená škola</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s5 hidden-xs img-container">
            <img src="/assets/images/event-pic.jpg" alt="Přijď na sraz">
        </div>
    </div>
</div>

<div class="container section" id="slack">
    <div class="row">
        <div class="next-logo col s7">
            <h2>
                Xamarin
            </h2>
            <p>
                Je unikátní technologií pro vývoj mobilních aplikací. Žádná jiná platforma neumožňuje vytvářet
                aplikace pro všechny hlavní platformy (iOS, Android, Mac a Windows) 100% nativně s možností
                sdílení kódu.
            </p>

            <p>
                Pomocí Xamarinu lze vytvářet aplikace v C# napříč všemi platformami
                a zjednodušit tak vývoj.
                Díky dalším nástrojům jako je <a href="https://www.visualstudio.com/cs/vs/mobile-center">Mobile
                Center</a> lze zvýšit kvalitu svých aplikací a zrychlit jejich dodání na trh.
            </p>
            <div class="highlights-list">
                <div>
                    <p>

                            <span class="img-wrapper">

                            <img src="/assets/images/icons/company.svg" alt="code ico"/>
                            </span>
                        <strong>Přes 15 000</strong> <span>spokojených společností</span>
                    </p>
                </div>
                <div>
                    <p>
                            <span class="img-wrapper">

                            <img src="/assets/images/icons/code.svg" alt="code ico"/>
                            </span>
                        <strong>Průměrně 75 % </strong> <span> sdíleného kódu</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s5 hidden-xs img-container">
            <a href="https://www.xamarin.com">
                <img src="/assets/images/logos/Xamagon.png" alt="Xamagon">
            </a>
        </div>
    </div>
</div>

<div class="container section" id="events">
    <div class="row">
        <div class="col s12">
            <h2>Jaké akce děláme</h2>
            <p>
                Kromě vysedávání na zadku doma u počítače a sepisování skvělých aplikací pořádáme
                <strong>bezva offline akce</strong>. Je jedno, že jsi milovník jablíček, robůtků či okýnek,
                pokud máš mozek a nebojíš se pořádné diskuze, <strong>jsi mezi námi vítán</strong>!
            </p>
        </div>
        <div class="col s4">
            <a class="tile-link">
                <img src="/assets/images/events/meetup.jpg" alt="Přijď na sraz">
                <span class="title">Meetup</span>
            </a>
            <p>
                <small>
                    Klasická přednáška na super téma. Většinou se zabýváme novinkami ze světa mobilního a
                    multiplatformního vývoje,
                    best practise a hackům Xamarinu.
                </small>
            </p>
        </div>
        <div class="col s4">
            <a class="tile-link">
                <img src="/assets/images/events/workshop.jpg" alt="Přijď na sraz">
                <span class="title">Workshop</span>
            </a>
            <p>
                <small>
                    Věnujeme se základům vývoje, tak i pokročilejším tématům.
                    Ukazujeme vám, jak se vyhnout běžným problémům, a jak vytěžit z Xamarinu maximum.
                </small>
            </p>
        </div>
        <div class="col s4">
            <a class="tile-link">
                <img src="/assets/images/events/beer.jpg" alt="Přijď na sraz">
                <span class="title">Pivo</span>
            </a>
            <p>
                <small>
                    U piva vždy probereme chystané novinky v Xamarinu, novou verzi .NET Core a .NET Standard,
                    bugy Visual Studia a nakonec se dostane i na politiku a smysl života, vesmíru
                    a vůbec. Zkrátka pivo jak má být!
                </small>
            </p>
        </div>
    </div>
</div>
<div class="container section" id="socials">
    <div class="row">
        <div class="col s12">
            <h2>Kde nás najdeš</h2>
            <p>
                Jsme všude, kde to digitálně žije. Jen nekoukej a přidej se k nám!
            </p>
        </div>
        <div class="col s3">
            <a href="https://www.meetup.com/xmdg-cz/#upcoming" target="_blank" class="tile-link centered-img events">
                <img src="/assets/images/icons/events.svg" alt="Eventy">
                <span class="title">Eventy</span>
            </a>
        </div>
        <div class="col s3">
            <a href="https://xmdg-slack-invite.herokuapp.com" target="_blank" class="tile-link centered-img slack">
                <img src="/assets/images/icons/slack.svg" alt="Slack">
                <span class="title">Slack</span>
            </a>
        </div>
        <div class="col s3">
            <a href="https://www.facebook.com/xmdgcz" target="_blank" class="tile-link centered-img facebook">
                <img src="/assets/images/icons/facebook.svg" alt="Facebook">
                <span class="title">Facebook</span>
            </a>
        </div>
        <div class="col s3">
            <a href="https://twitter.com/xmdg_cz" target="_blank" class="tile-link centered-img twitter">
                <img src="/assets/images/icons/twitter.svg" alt="Twitter">
                <span class="title">Twitter</span>
            </a>
        </div>
        <div class="col s12">
            <p>
                A pokud nám budeš něco potřebovat, tak <strong>neváhej se ozvat přímo na e-mail</strong>:
                <a href="mailto:info@xmdg.cz">info@xmdg.cz</a>
            </p>

        </div>
    </div>
</div>

<h2>Latest Articles</h2>
<div>&nbsp;</div>
{% include list-category-posts.html lang=page.lang category="articles" %}


<div class="container section partners" id="info">
    <div class="row">
        <div class="col s12">
            <h2>Partneři</h2>
            <p>
                <strong>Děkujeme partnerům</strong>, že nám poskytují prostor a peníze, řeční na našich akcích
                a zkrátkou jsou v tom s námi. Děkujeme, bez vás by to nešlo!
            </p>
        </div>
        <div class="col s3">
            <a href="https://microsoft.cz" target="_blank" class="tile-link centered-img bordered-img">
                <img src="/assets/images/partners/microsoft.png" alt="Microsoft">
            </a>
        </div>
        <div class="col s3">
            <a href="https://www.worklio.com" target="_blank" class="tile-link centered-img bordered-img">
                <img src="/assets/images/partners/worklio.svg" alt="Worklio">
            </a>
        </div>
        <div class="col s3">
            <a href="https://appio.cz" target="_blank" class="tile-link centered-img bordered-img">
                <img src="/assets/images/partners/appio.svg" alt="Appio">
            </a>
        </div>
        <div class="col s3">
            <a href="https://www.skeleton.cz" target="_blank" class="tile-link centered-img bordered-img">
                <img src="/assets/images/partners/skeleton.png" alt="Skeleton software">
            </a>
        </div>
    </div>
</div>