---
layout: default
---

<div class="section first-section bg-img-monkeyfest">
  <div class="home-header container">
    <h1 class="page-header-text">MonkeyFest Bootcamp Prague 2018</h1>
    <p class="page-header-text">Jednodenní otevřená konference o Xamarinu, .NETu,  C#, a dalších technologích </p>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>O akci</h2>
    </div>

    <div class="u-flex">
      <div class="col s12 l3 push-l9 hidden-xs img-container">
        <a href="https://www.xamarin.com" class="highlight-image">
          <img src="/assets/images/logos/monkeyfest.png" alt="Monkeyfest">
        </a>
      </div>
      <div class="col s12 l9 pull-l3">
        <p>
          <strong>MonkeyFest 2018 Bootcamp</strong>, je globální jednodenní konference, která Vám představí novinky i zajímavosti ze světa Xamarinu, .NETu a C#. Akce je pořádána komunitou  <strong>Xamarin Developers Group Czech</strong>.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="highlights-list col s12 left-align">
      <div>
        <p>
          <span class="img-wrapper">
              <img src="/assets/images/icons/map.svg" alt="map ico"/>
          </span>
          <strong>Praha</strong> <span>Microsoft CZ, Vyskočilova 1561/4a</span>
        </p>
      </div>
      <div>
        <p>
          <span class="img-wrapper">
              <img src="/assets/images/icons/calendar.svg" alt="calendar ico"/>
          </span>
          <strong>10. 11. 2018</strong>
        </p>
      </div>
      <div>
        <p>
          <span class="img-wrapper">
            <img src="/assets/images/icons/clock.svg" alt="clock ico"/>
          </span>
          <strong>9:45 – 16:00</strong>
        </p>
      </div>
      <div>
        <p>
          <span class="img-wrapper">
            <img src="/assets/images/icons/developer.svg" alt="developer ico"/>
          </span>
          <strong>400</strong> <span>míst</span>
        </p>
      </div>
      <div>
        <p>
          <span class="img-wrapper">
            <img src="/assets/images/icons/speaker.svg" alt="speaker ico"/>
          </span>
          <strong>6</strong> <span>řečníků</span>
        </p>
      </div>
      <div class="registration-container">
          <a href="https://www.meetup.com/xmdg-cz/events/255159549/">
              <div class="card-image hide-on-small-and-down color-secondary">
                  <i class="fab fa-meetup fa-10x" ></i>
              </div>
              <p>
                  Registrace na meetup.com
              </p>
          </a>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Co se dozvíte</h2>

      <p>
        Konference MonkeyFest Bootcamp Prague 2018 se skládá ze šesti přednášek, ve kterých Vám odbornící z oblasti mobilního, webového a frameworkového vývoje představí několik témat.
      </p>

      <ul class="list">
        <li>Novinky v Xamarin.Forms 3.0 a C# 7 a výš</li>
        <li>Popis Base Class Libraries a .Net Standardu od Project Managera Mono frameworku</li>
        <li>Pohled na funkcionální programování a netradičního vývoje na Macu</li>
        <li>Využití jazyka C# ve hře GTA 5</li>
      </ul>
          <div class="u-flex">

       <div class="col s12 l9 pull-l3">
        <p>
          <strong> Partnery akce jsou</strong> společnosti  <strong>Appio</strong> a <strong>Microsoft</strong>!
          <br><br>
        </p>
      <div class="u-flex --img">
        <img src="/assets/images/partners/appio.svg" alt="">
        <img src="/assets/images/partners/microsoft.png" alt="">
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Program</h2>

      <!- Úvod -->
      <div class="m-schedule-topic">
        <h3>Zahájení MonkeyFest Bootcamp Prague 2018 !!</h3>
        <div class="date">  9:45  - 10:00</div>
      </div>


      <!- Vojtěch Mádr -->  
      <div class="m-schedule-topic">
        <h3>Novinky v Xamarin.Forms 3</h3>
        <div class="date">10:00 – 10:45</div>
        <div class="schedule-info">
          <p>
            Co nového se objevilo v Xamarin Forms 3.0? Co přinesly verze 3.1 a 3.2? A co můžeme očekávat do budoucna? Tyto otázky Vám zodpoví právě tato přednáška.
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/speakers/madrvojt.png" alt="">
          <div>
            <div class="name">Vojtěch Mádr</div>
            <div class="position">
              Microsoft MVP, Co-organizer XMDG.cz
            </div>
            <p>
             Vojtěch se zabývá návrhem, tvorbou a nasazením mobilních aplikací, tvořených zejména v Xamarinu v kombinaci s využitím DevOps nástroje Visual Studio AppCenter. Kromě toho je konzultantem a školitelem, přednáší na vývojářských konferencích, spoluzaložil Xamarin Developers Group Czech a s Martinem Šimečkem moderuje .NET.CZ podcast. Od roku 2017 je držitelem titulu Microsoft Most Valuable Professional v oblasti Development Technologies a certifikovaným Xamarin Developerem.
            </p>

            <div class="links">
              <a href="http://www.xmdg.cz/madrvojt" target="_blank">Web</a>
              <a href="https://twitter.com/madrvojt" target="_blank">Twitter</a>
            </div>
          </div>
        </div>
      </div>
      
      <!- Jiri Cincura -->  
      <div class="m-schedule-topic">
        <h3>Co čekat od C# 7, 7.1, 7.2, 7.3 a 8.0.</h3>
        <div class="date">10:55 – 11:40</div>
        <div class="schedule-info">
          <p>
            C# v poslední době velmi rychle přidává nové funkce. Malé funkce v minor verzích, ale připravuji se i velké změny do major verze (verzí). Co je tedy dostupné v C# 7, 7.1, 7.2, 7.3 a jak to začít používat. A co nás čeká dál a hlavně ve verzi 8.0? 
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/speakers/cincura_jiri.png" alt="">
          <div>
            <div class="name">Jiří Činčura</div>
            <div class="position">
              Microsoft MVP
            </div>
            <p>
              Jiří Činčura je nezávislý vývojář a konzultant se zaměřením na datové a business vrstvy, jazykové konstrukce, paralelizmus a databáze. Od roku 2009 působí jako odborný lektor Počítačové školy Gopas se specializací na Entity Framework, asynchronní a paralelní programování, cloud a Azure. Je nositelem titulu Microsoft Most Valuable Professional. Jeho články, rady, tipy a triky si můžete přečíst na www.tabsoverspaces.com.
            </p>

            <div class="links">
              <a href="https://www.tabsoverspaces.com" target="_blank">Web</a>
              <a href="https://twitter.com/cincura_net" target="_blank">Twitter</a>
            </div>
          </div>
        </div>
      </div>

        <!- Oběd -->  
        <div class="m-schedule-topic">
        <h3>Oběd</h3>
        <div class="date">11:40 – 12:25</div>
        <div class="schedule-info">
          <p>
             Občerstvení bude formou bufetu.
          </p>
        <div class="flex">
            <div class="links">
            </div>
         </div>
        </div>

      <!- Marek Šafář -->  
      <div class="m-schedule-topic">
        <h3>.NET Standard and Base Class Libraries</h3>
        <div class="date">12:25 – 13:10</div>
        <div class="schedule-info">
          <p>
                 Anotace bude doplněna.
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/logo-header.png" alt="">
          <div>
            <div class="name">Marek Šafář</div>
            <div class="position">
              Microsoft Project Manager (Mono Framework)
            </div>
            <p>
              Anotace bude doplněna.
            </p>

            <div class="links">
              <a href="#">LinkedIn</a>
              <a href="#">Web</a>
            </div>
          </div>
        </div>
      </div>

       <!- Pepa -->  
      <div class="m-schedule-topic">
        <h3>Funkcionální programování (v C#)</h3>
        <div class="date">13:20 – 14:05</div>
        <div class="schedule-info">
          <p>
             Funkcionální programování je poslední dobou hot topic, avšak najít pro něj vývojáře se jednodušší být nezdá.
             Ukážeme si jakým způsobem můžete začít programovat funkcionálně postupně ve stávající C# codebase bez nutnosti vše přepisovat a hlavně proč bychom něco takového dělali.
            </p>
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/speakers/pepa_starychfojtu.png" alt="">
          <div>
            <div class="name">Josef Starýchfojtů</div>
            <div class="position">
              C# Developer
            </div>
            <p>
              Josef je studentem Matfyzu, kde se specializuje na obor Softwarového inženýrství. Krom toho se denně věnuje funkcionálnímu programování, architektuře a databázím v Mews Systems na platformě .NET.
            </p>

            <div class="links">
              <a href="https://github.com/starychfojtu" target="_blank">Github</a>
              <a href="https://www.linkedin.com/in/josef-s-1a0649106/ target=_blank">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>

      <!- Pavel Vondrašek -->  
      <div class="m-schedule-topic">
        <h3>Moderní IDE!</h3>
        <div class="date">14:15 – 15:00</div>
        <div class="schedule-info">
          <p>
            Anotace bude doplněna.
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/logo-header.png" alt="">
          <div>
            <div class="name">Pavel Vondrášek</div>
            <div class="position">
              Killer developer
            </div>
            <p>
              Anotace bude doplněna.
            </p>

            <div class="links">
              <a href="#">LinkedIn</a>
              <a href="#">Web</a>
            </div>
          </div>
        </div>
      </div>

       <!- Matej Račinský-->  
      <div class="m-schedule-topic">
        <h3>GTA 5</h3>
        <div class="schedule-info">
          <p>
            Anotace bude doplněna.
          </p>
        </div>

        <div class="flex">
          <img class="speaker-image" src="/assets/images/logo-header.png" alt="">
          <div>
            <div class="name">Matěj Račinský</div>
            <div class="position">
              Developer
            </div>
            <p>
              Anotace bude doplněna.
            </p>

            <div class="links">
              <a href="#">LinkedIn</a>
              <a href="#">Web</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="container section">
       <div class="row">
        <div class="col s12">
        <p>
          <strong>Poznámka pro návštevníky:</strong> Změna programu vyhrazena.
        </p>
      </div>
    </div>
    </div>


<div class="container section m-map">
  <div class="row">
    <div class="col s12">
      <h2>Jak se k nám dostanete</h2>
    </div>
    <div class="col s12 l5 push-l7">
      <p>
        <strong>Microsoft CZ</strong><br>
        Vyskočilova 1561/4a, budova Delta<br>
        140 00 Praha
      </p>
      <p>
        Nejrychleji z centra Prahy Metrem do stanice <strong>Budějovická</strong> (trasa C). Autobusová zastávka <strong>Vyskočilova</strong>.
        <br>
        Parkování je možné na placeném parkovišti v blízkosti areálu.
      </p>

    </div>
    <div class="col s12 l7 pull-l5 hidden-xs">
      <a href="https://www.google.com/maps/place/Microsoft/@50.0480962,14.4552415,17z/data=!4m8!1m2!3m1!2sMicrosoft!3m4!1s0x470b939252ca9603:0x635024d5e443113b!8m2!3d50.0480929!4d14.4574358" target="_blank" class="highlight-image">
        <div id="map" style="height: 400px;width: 100%;"></div>
      </a>

    </div>
  </div>
</div>

<div class="container section m-map">
  <div class="row">
    <div class="col s12">
      <h2>Kontakt</h2>

      <p>
       V případě, že byste rádi finačně podpořili akci či se chtěji dozvědět další informace. Nás můžete kontaktovat na níže uvedených adresách.
      </p>

      <p>
        <strong>Vojtěch Mádr</strong><br>
        <a href="#">madrvojtech@outlook.com</a><br>
        <a href="#">+420 728 944 917</a>
      </p>
    </div>
  </div>
</div>

<footer>
  <div>
    <div class="container">
      <p>
        Powered by <a target="_blank" href="http://jekyllrb.com/" class="text-lighten-3">Jekyll</a>
      </p>

      <p class="copyright">
        Copyright © 2018 <a href="http://www.xmdg.cz" class="text-lighten-3">XMDG.cz</a>
      </p>
    </div>
  </div>
</footer>

<script>
  function initMap() {
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: {lat: 50.0481404, lng: 14.4563637}, disableDefaultUI: true});
    var marker = new google.maps.Marker({position: {lat: 50.0481404, lng: 14.4563637}, map: map});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQBTS1etifDzwYmPYuXEJUWDuqraRhJZ4&callback=initMap">
</script>
